#data_cancel,
#close_icon,
#data_submit{
	cursor: pointer;
}

.mw-75{
	max-width: 75% !important;
}
.mw-50{
	max-width: 50% !important;
}
.mw-25{
	max-width: 25% !important;
}
.mh-75{
	max-height: 75% !important;
}
.mh-50{
	max-height: 50% !important;
}
.mh-25{
	max-height: 25% !important;
}

.admin-menu-active{
	color: #adb5bd !important;
}